/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#agra{
    border: 1px solid red;
   
}
.agra_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.agra-container {
    width: 100%;
}
.agra-container img{
    width: 100%;
}
.room-cointainer{
    
    width: 100%;
}
.room-cointainer img{
    width: 100%;
}
@media only screen and (min-width:768px){
    .room-cointainer{
    
        width: 45%;
    }
    .agra_div{
       width: 45%;
    }
}
